body {
	width: px;
	height: px;
	padding: 20px;
	border: 20px solid #bdc3c7;
	margin: ;
	font-family: 'Source Sans Pro', sans-serif;
}


h4 {
	text-transform: uppercase;
	margin-left: 10px;
	color: #3498db;
}

h2 {
	margin-left: 10px;
	color: #2c3e50;
}

p {

}

.one {

}

.three {

}